.explore {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    background-color: #f7f7fb;
}
.explore .explore-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6.25rem;
}
.header-text {
    font-size: 1rem;
    color: #5b5ce6;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    margin-bottom: 0.75rem;
}
.header-title {
    font-size: 4rem;
    color: #0d0d0d;
    font-family: "Instrument Serif", sans-serif;
    font-weight: 400;
    text-align: center;
    max-width: 393px;
    line-height: 108%;
    letter-spacing: -2%;
    margin-top: 0;
}
.header-list {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    height: 2.875rem;
    max-width: 366px;
    width: 100%;
    border: 1px solid #e4e4ef;
    border-radius: 999px;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}
.header-list li {
    list-style: none;
    display: flex;
    font-size: 0.875rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    color: #6b6b80;
    margin: 0;
    padding: 04px;
}
.header-list :nth-child(1) {
    background-color: #0d0d0d;
    color: #fff;
    border-radius: 999px;
    width: 84px;
    height: 34px;
    align-items: center;
    justify-content: center;
}
.header-list :nth-child(2) {
    width: 84px;
    height: 34px;
    align-items: center;
    justify-content: center;
}
.header-list :nth-child(3) {
    width: 84px;
    height: 34px;
    align-items: center;
    justify-content: center;
}
.header-list :nth-child(4) {
    width: 54px;
    height: 34px;
    align-items: center;
    justify-content: center;
}
.send-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 6.25rem;
}
.send {
    max-width: 600px;
}
.send-tag {
    font-size: 1rem;
    color: #5b5ce6;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    margin-bottom: 1rem;
    letter-spacing: 6%;
}
.send-title {
    font-size: 3.875rem;
    color: #0d0d0d;
    font-family: "Instrument Serif", sans-serif;
    font-weight: 400;
    text-align: left;
    max-width: 317px;
    line-height: 110%;
    letter-spacing: -2%;
    margin-top: 0;
    margin-bottom: 1.25rem;
}
.send-description {
    font-size: 1rem;
    color: #6b6b80;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400;
    text-align: left;
    max-width: 317px;
    line-height: 170%;
}
.send-list {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-top: 1.25rem;
}
.send-list li {
    list-style: disc inside;
    font-size: 0.875rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400;
    color: #6b6b80;
}
.send-list li::marker {
   color: #5b5ce6;
}
.send-button {
    margin-top: 2.5rem;
    height: 43px;
    padding: 12px 24px;
    border-radius: 999px;
    font-family: "Plus Jakarta Sans", sans-serif;
    width: 183px;
    border: none;
    background-color: #0d0d0d;
    color: #fff;
}
.send-button:hover {
    opacity: 0.9;
    transform: translateY(-1px);
    cursor: pointer;
}
.send-card {
    margin-top: 5.78rem;
}