.security {
    background: #0d0d0d;
    color: #fff;
}
.security-content {
    display: flex;
    justify-content: space-between;
}
.security-left {
    margin-top: 5rem;
    margin-bottom: 5rem;
    max-width: 469px;
}
.security-tag {
    font-size: 1rem;
    color: #ffffff;
    opacity: 0.4;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    margin-bottom: 1rem;
    letter-spacing: 6%;
}
.security-left h2 {
    font-size: 3.875rem;
    color: #fff;
    font-family: "Instrument Serif", sans-serif;
    font-weight: 400;
    text-align: left;
    max-width: 421px;
    line-height: 108%;
    letter-spacing: -2%;
    margin-top: 0;
    margin-bottom: 1.25rem;
}
.security-left p {
    font-size: 1.1rem;
    color: #fff;
    opacity: 0.5;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 300;
    text-align: left;
    line-height: 165%;
}
.s-tags {
    display: flex;
    gap: 8px;
    margin-top: 1.75rem;
}
.s-tag {
    font-size: 0.8125rem;
    color: #ffffff;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400;
    margin-bottom: 1rem;
    padding: 8px 16px;
    border: 1px solid #ffffff26;
    border-radius: 999px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.s-tag span {
    color: #34d49a;
}
.s-tag li{
    list-style: none;
}
.light-tag {
    background-color: #34d49a1e;
    margin-bottom: 1rem;
    padding: 10px 20px;
    border: 1px solid #34d49a40;
    border-radius: 999px;   
    max-width: 257px;
}
.light-tag span {
    font-size: 0.9rem;
    color: #34d49a;font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400;
}
.security-right {
    display: flex;
    flex-direction: column;
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
    gap: 1rem;
}
.feature {
    max-width: 646px;
    background: #ffffff0f;
    border: 1px solid #ffffff1a;
    padding: 24px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.f-title {
    color: #ffffffe6;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}
.f-desc {
    color: #ffffff59;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 150%;
    font-family: "Plus Jakarta Sans", sans-serif;
}
.feature:nth-child(2) .f-desc {
    max-width: 532px;
}